*, *::before, *::after { box-sizing: border-box; }
html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--gh-canvas-default);
  color: var(--gh-fg-default);
  font: 14px/1.5 var(--gh-font-family);
}

button,
input,
textarea {
  font: inherit;
}
